:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nameAndBalance {
    text-align: center;
}

.name {
    font-size: 1.1em;
    cursor: pointer;
}

.balance {
    font-size: 1.2em;
    font-weight: 500;
}
