table {
    border-collapse: collapse;
}

tr {
    display: flex;
}

.nameCell {
    flex-grow: 1;
}

tr:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid #c9c9c9;
}

tr:not(:first-child) {
    padding-top: 5px;
}

.ownRow {
    background-color: rgba(0, 102, 255, 0.1);
}
