html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f3f7fd;
}

input {
    font-family: inherit;
    font-size: 1rem;
}

button {
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 10px 0 #d9d9d9;
}

.card .title {
    font-size: 1.2em;
    font-weight: 500;
}

.errorMessage {
    color: red;
}

.cardMainButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.separator {
    height: 1px;
    background-color: #c9c9c9;
}
